@font-face {
    font-family: "Open Sans";
    src: url("/src/fonts/opensans-regular-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans-semibold-webfont.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans-bold-webfont.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Estedad";
    src: url("/src/fonts/Estedad-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Estedad";
    src: url("../fonts/Estedad-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Estedad";
    src: url("../fonts/Estedad-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 18px;
}

body {
    font-family: "Estedad", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial,
        sans-serif;
    font-weight: 400;
    min-width: 380px;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 20px 0 0 0;
}

img.cnama-logo {
    object-fit: cover;
    height: 65px;
    height: 35px;
}
span.cnama-logo {
    color: rgb(177, 177, 177);
    font-size: 19px;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
    margin-left: 5px;
    display: block;
}

.footer {
    background-color: rgb(250, 249, 249);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer a{
    height: 24px;
}

.github {
    opacity: 0.5;
    width: 24px;
    height: 24px;
    transition: opacity 0.8s ease;
}

.github:hover {
    opacity: 1;
    transition: all 0.8s ease;
}

.container {
    background-color: white;
    padding: 30px 0;
}

.setting-container {
    width: 100%;
    list-style-type: none;
    padding: 0;
    text-align: right;
    padding-right: 70px;
}

.setting-container li {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.setting-container li label {
    margin-left: auto;
}

.setting-container li p {
    width: 100%;
    text-align: right;
    padding-right: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 18px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.non_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
}

.non_slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 23px;
    bottom: 3px;
    background-color: white;
}

input:checked + .slider,
input:checked + .non_slider {
    background-color: rgb(201, 5, 8);
}

input:checked + .slider:before,
input:checked + .non_slider:before {
    -webkit-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    transform: translateX(-15px);
}

.slider.round,
.non_slider.round {
    border-radius: 34px;
}

.slider.round:before,
.non_slider.round:before {
    border-radius: 50%;
}
